<a href="{{ .URL }}">

<h2>
	{{ .Title }}
	<span class="language {{ anchorize .Params.language }}"></span>
</h2>

<hr>



<div class="info">
	{{ if .Params.day }}
		<div class="day-of-conference">
			<span>{{ .Params.day  }}</span>
		</div>
	{{ end }}

	{{ if .Params.time }}
		<div class="tags">
			<span>{{ .Params.time  }}</span>
		</div>
	{{ end }}
	
	{{ if .Params.subtitle }}
		<div class="subtitle">
			<span>{{ .Params.subtitle }}</span>
		</div>
	{{ end }}
	<!-- <div class="complexity">{{ .Params.level }}</div> -->
	<!-- <div class="type type-{{ anchorize .Params.format }}">{{ .Params.format }}</div> -->
</div>


<ul class="speakers">
	{{ range where .Site.RegularPages "Params.key" "in" .Params.speakers }}
	<li class="speaker">
		<div class="speaker-img" style="background-image: url({{ .Params.photoURL }});"></div>
		<strong class="speaker-name">{{ .Params.name }}</strong>
		<span class="speaker-country">{{ .Params.country }}</span>
		<div class="speaker-company">{{ .Params.company }}</div>
	</li>
	{{ end }}
</ul>

</a>
