{{ $lang := $.Page.Language.Lang }}
<a href="{{ .URL }}">

	{{ with .Params.room }}
	<div class="tags">
		{{ range where (where $.Site.Data.rooms "key" .) "skip" "!=" true }}
		<span>{{ .label  }}</span>
		{{ end }}
	</div>
	{{ end }}

<h2>
	{{ .Title }}
	<span class="language {{ anchorize .Params.language }}"></span>
</h2>

<hr>



<div class="info">
	
	<div class="day-of-conference">
		{{ with .Params.day }}<span>{{- partial "date-long.html" (dict "time" . "lang" $lang) }}</span>{{ end}}
		{{ if .Params.time }}<span>{{ .Params.time  }}</span>{{ end }}
	</div>
	

	
	{{ if .Params.subtitle }}
		<div class="subtitle">
			<span>{{ .Params.subtitle }}</span>
		</div>
	{{ end }}
	<!-- <div class="complexity">{{ .Params.level }}</div> -->
	<!-- <div class="type type-{{ anchorize .Params.format }}">{{ .Params.format }}</div> -->
</div>


<ul class="speakers">
	{{ range where .Site.RegularPages "Params.key" "in" .Params.speakers }}
	<li class="speaker">
		<div class="speaker-img" style="background-image: url({{ .Params.photoURL }});"></div>
		<strong class="speaker-name">{{ .Params.name }}</strong>
		<span class="speaker-country">{{ .Params.country }}</span>
		<div class="speaker-company">{{ .Params.company }}</div>
	</li>
	{{ end }}
</ul>

</a>
